# Ignore environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/


# VS Code settings
.vscode/

# uv internal files (Optional - most people keep uv.lock but ignore the tool cache)
.uv/


# Streamlit secrets file (keep it out of version control)
.streamlit/secrets.toml

# SQLite database file
app_state.sqlite3